.navbar {
  border: 1px solid grey;
  background-color: rgb(255, 0, 89);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 50px;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.shopping-cart-link {
  background-color: lightgrey;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  text-decoration: none;
}

.cart-item-count {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: white;
}
