.products-container {
  margin: 50px auto;
}

.loader {
  margin: 200px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}
.product-overview {
  list-style: none;
  border: 1px solid grey;
  margin: 10px;
  width: 361px;
  height: 530px;
}
.product-overview-detail {
  font-size: 13px;
}

.link {
  color: black;
}
.dark-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  width: 250px;
  font-size: 16px;
}

.dark-btn:hover {
  background-color: white;
  color: black;
}

.product {
  margin: 60px;
}

.product-info {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  .product-info {
    flex-direction: column;
  }
}
.product-img {
  width: 500px;
}
@media (max-width: 600px) {
  .product-img {
    width: 400px;
  }
}

.product-detail {
  margin: 40px 0 0 60px;
  text-align: left;
  width: 40%;
}
@media (max-width: 600px) {
  .product-detail {
    width: 100%;
    margin: 0 auto;
  }
}

.page-btn {
  font-size: 16px;
  border-radius: 50%;
  margin: 4px;
  border: none;
}
.page-btn.active,
.page-btn:hover {
  background-color: black;
  color: white;
}

.related-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.related-product-overview {
  list-style: none;
  border: 1px solid grey;
  margin: 10px;
  width: 250px;
  height: 400px;
}

.related-product-img {
  width: 250px;
}

.related-product-overview-detail {
  font-size: 12px;
  padding: 0 5px;
}
